/*

//1. Виділити Львів оранжевим

//2. Виділити городок та золочів голубим кольором
//3. Підкреслити перші елементи, а останні зробити жирними
//4. Дати західним містам розмір шрифта 30 пікселів 
//5. У всіх елементів крім Дніпра, виділити першу букву жовтим кольором.

*/
span {
	color: orange;
}

li ul li {
	color: blue;
}

[data-location=west] {
	font-size: 30px;
}

li:first-child {
	text-decoration: underline;
}

li:last-child {
	font-weight: bold;
}

li:not([data-location=center])::first-letter {
	color: yellow;
}


